:root {
    --branco: #ffffff;
    --fundo: #080808;

    --vermelho: #a71919;
    --vermelho-claro: #e52d2d;

    --cinza: #151515;
    --cinza-claro: #252525;

    --verde: #00e676;
    --roxo: #8b35ff;
}


/* ==========================================
   RESET
========================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ==========================================
   BODY
========================================== */

body {
    background-color: var(--fundo);

    color: var(--branco);

    font-family: Arial, sans-serif;

    min-height: 100vh;

    overflow-x: hidden;
}


/* ==========================================
   FUNDO
========================================== */

body::before {
    content: "";

    position: fixed;

    width: 450px;
    height: 450px;

    left: -200px;
    top: 20%;

    background: var(--vermelho);

    opacity: 0.08;

    border-radius: 50%;

    z-index: -1;

    pointer-events: none;
}


/* ==========================================
   PÁGINA
========================================== */

.pagina {
    min-height: 100vh;

    display: grid;

    grid-template-columns: minmax(0, 1fr) 350px;

    gap: 60px;

    padding: 60px 8% 60px 260px;
}


/* ==========================================
   ÁREA PRINCIPAL
========================================== */

.area-principal {
    width: 100%;

    max-width: 850px;
}


/* ==========================================
   CABEÇALHO
========================================== */

.cabecalho {
    margin-bottom: 35px;
}

.pequeno {
    color: var(--vermelho-claro);

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 4px;

    margin-bottom: 15px;
}

.cabecalho h1 {
    font-size: 42px;

    line-height: 1.1;
